body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7fb;
  color: #333;
  line-height: 1;
}
h2 {
  margin-top: 20px;
  font-size: 28px;
  text-align: center;
  color: #2c3e50;
  letter-spacing: 1px;
}
header {
  background-color: #2c3e50;
  padding: 12px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  padding: 8px 14px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  background-color: #1abc9c;
  color: #fff;
}

.nav-links li a.active {
  background-color: #1abc9c;
  color: #fff;
}
.about {
  max-width: 900px;
  margin: 60px auto;
  background: #e7f0f5;
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.about h1 {
  text-align: center;
  color: #1abc9c;
  font-size: 32px;
  margin-bottom: 30px;
}
.about-content {
  display: flex;
  align-items:center;
  gap: 30px;
  flex-wrap: wrap; 
  justify-content: center;
}

/.profile-pic-side {
  width:300px;
  height: 520px;
 object-fit: cover;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}*

.profile-pic-side:hover {
  transform: scale(1.05);
}
about-text, .about p {
  max-width: 500px;
  text-align: left;
  line-height: 1.6;
  font-size: 16px;
}

.about p {
  font-size: 17px;
  color: #444;
  
  text-align: justify;
  margin-top: 10px;
  line-height: 1.2;
}
footer {
  text-align: center;
  padding: 15px;
  background-color: #2c3e50;
  color: white;
  font-size: 14px;
  margin-top: 60px;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}
.about-content {
    flex-direction: column;
    text-align: right;
  }
.profile-pic-side {
    width: 360px;
    height:300px;
  }

